  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400');


/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

/*DIV*/

.discount p{
    background-color: #1CD1B0;
    font-size: 25px;
    padding: 3px 20px;
}

/*HEADER*/

header {
    background-color: #00669f;
    box-shadow: 0 10px 7px rgb(0 0 0 / 25%);
    position: sticky;
    height: 120px;
    padding: auto;
    line-height: 35px;
    top: 0;
    z-index: 999;
    box-shadow: 5px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.sombra{
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}


.logoTienda {
    position: relative;
    top: 10px;
    display: inline-block;
}

h1 {
    position: absolute;
    left: 119px;
    top: 13px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

h2 {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

nav {
    display: block;
}

.navegador {
    background-color: #001D2D;
    color: white;
    font-size: 25px;
    text-align: right;
    text-decoration: none;
    padding: 8px;
}

nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
    position: sticky;
}

/*MAIN*/

main {
    text-align: center;
    position: relative;
}


.card{
    border-radius: 50px;
    margin: 2%;
    width: 450px;
    display: inline-block;
    padding-top: 20px;
    box-shadow: 20px;
}


.card .backImgBatman {
    background-attachment: scroll;
    background-image: url(../img/bg-b.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

.card .backImgSuperman {
    background-attachment: scroll;
    background-image: url(../img/bg-s.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

.card .backImgWonder{
    background-attachment: scroll;
    background-image: url(../img/bg-wonderw.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

.content{
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 350px;
    position: relative;
    text-align: center;
    border-radius: 0 0 20px 20px;
}


.content h2{
    padding-top: 90px;
}

.content img{
    border-radius: 50%;
    height: 180px;
    width: 180x;
    position: absolute;
    left: 32%;
    top: -35%;
}


.texto {
    border: 10px;
    font-family: Roboto;
    font-size: 20px;
    height: 100px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: left;
}


.button{
    display: inline-block;
    background-color:#00669F;
    padding: 10px;
    color: white;  
    font-size: 16px;
    width: 100px;
    height: 20px;
    z-index: 1;
    border-radius: 10px;
}

i {
    font-size: 30px;
    padding-right: 400px;
    position: relative;
    top: 20px;
    color: #CC2424;
    width: 30px;
    height: 30px;
}

.plusButton a {
    font-size: 50px;
    border-radius: 7px;
    bottom: 35%;
    color: #00669F;
    position: fixed;
    right: 0.5%;
    text-decoration: none;
}

/*FOOTER*/

footer {
    background-color: #00669F;
    color: #FFFFFF;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
}